In [4]:
import pandas as pd
import numpy as np
from sklearn.metrics.pairwise import cosine_similarity

#### 1.Import file "movierating.csv"

In [3]:
rating=pd.read_csv("movierating1.csv")
rating.head(10)

,User,movie1,movie2,movie3,movie4,movie5,movie6,movie7,movie8,movie9,...,movie91,movie92,movie93,movie94,movie95,movie96,movie97,movie98,movie99,movie100
0,user1,3.0,3.0,3.0,3.0,0.0,1.0,0.0,3.0,1.0,...,4.0,1.0,0.0,4.0,4.0,3.0,2.0,2.0,2.0,2.0
1,user2,4.0,4.0,0.0,0.0,4.0,4.0,1.0,4.0,2.0,...,2.0,0.0,3.0,2.0,4.0,3.0,4.0,2.0,4.0,0.0
2,user3,4.0,1.0,0.0,4.0,2.0,4.0,2.0,0.0,3.0,...,1.0,3.0,4.0,2.0,2.0,1.0,0.0,3.0,1.0,2.0
3,user4,1.0,2.0,3.0,0.0,3.0,0.0,1.0,3.0,4.0,...,3.0,4.0,1.0,1.0,0.0,0.0,0.0,1.0,1.0,1.0
4,user5,2.0,4.0,2.0,3.0,1.0,1.0,2.0,2.0,4.0,...,1.0,4.0,2.0,4.0,2.0,4.0,1.0,1.0,4.0,2.0
5,user6,4.0,1.0,2.0,2.0,4.0,3.0,0.0,1.0,1.0,...,1.0,3.0,3.0,1.0,1.0,3.0,0.0,0.0,0.0,2.0
6,user7,3.0,4.0,2.0,0.0,1.0,3.0,3.0,4.0,1.0,...,3.0,3.0,1.0,3.0,1.0,1.0,1.0,2.0,0.0,2.0
7,user8,4.0,0.0,3.0,1.0,2.0,3.0,4.0,4.0,2.0,...,3.0,2.0,3.0,3.0,1.0,4.0,1.0,1.0,1.0,3.0
8,user9,3.0,1.0,4.0,2.0,2.0,0.0,0.0,2.0,4.0,...,2.0,1.0,4.0,0.0,3.0,4.0,1.0,1.0,4.0,0.0
9,user10,1.0,1.0,2.0,2.0,1.0,1.0,0.0,3.0,2.0,...,3.0,3.0,4.0,4.0,0.0,4.0,4.0,0.0,1.0,0.0

#### 2.	Use “cosine-similarity” to check similarity between users

In [6]:
#create a user list
user_list=[]
for row_index, row in rating.iterrows():
    user=np.array(rating.loc[row_index,rating.columns!="User"]) #remove user index
    user=user.reshape(1,-1)
    user_list.append(user)
user_list[0] #check user 1

array([[3.0, 3.0, 3.0, 3.0, 0.0, 1.0, 0.0, 3.0, 1.0, 2.0, 0.0, 0.0, 1.0,
        0.0, 0.0, 1.0, 2.0, 4.0, 4.0, 0.0, 4.0, 2.0, 2.0, 4.0, 1.0, 1.0,
        1.0, 4.0, 1.0, 3.0, 2.0, 4.0, 1.0, 1.0, 1.0, 0.0, 1.0, 0.0, 2.0,
        1.0, 2.0, 4.0, 4.0, 2.0, 2.0, 3.0, 0.0, 1.0, 3.0, 4.0, 1.0, 4.0,
        2.0, 0.0, 2.0, 4.0, 2.0, 3.0, 3.0, 0.0, 0.0, 4.0, 1.0, 2.0, 2.0,
        3.0, 2.0, 2.0, 4.0, 4.0, 1.0, 1.0, 4.0, 3.0, 1.0, 2.0, 4.0, 4.0,
        1.0, 2.0, 0.0, 1.0, 1.0, 2.0, 3.0, 1.0, 3.0, 1.0, 2.0, 1.0, 4.0,
        1.0, 0.0, 4.0, 4.0, 3.0, 2.0, 2.0, 2.0, 2.0]], dtype=object)

In [9]:
#compute cosine similatities between all pairs of users
cos_dict={}
for i in range(len(user_list)):
    row=i+1
    for j in range(row,len(user_list)):
        user_pair="user"+str(i+1)+ " & "+"user"+str(j+1)
        cos=cosine_similarity(user_list[i],user_list[j])[0][0]
        cos_dict[user_pair] = cos

In [14]:
pd.DataFrame(cos_dict.items(),columns=["user pair","cosine similarity"])

            user pair  cosine similarity
0       user1 & user2           0.691149
1       user1 & user3           0.699425
2       user1 & user4           0.632598
3       user1 & user5           0.676989
4       user1 & user6           0.673564
...               ...                ...
1220  user47 & user49           0.641999
1221  user47 & user50           0.658551
1222  user48 & user49           0.713636
1223  user48 & user50           0.621508
1224  user49 & user50           0.631012

[1225 rows x 2 columns]

#### 3. Find pair of users with the largest and the second largest cosine similarities

In [20]:
largest=max(cos_dict,key=cos_dict.get)
print(f"User pair {largest} has the largest cosine similarity {cos_dict[largest]}")

User pair user3 & user21 has the largest cosine similarity 0.7965353470403046

In [23]:
second_largest=list(sorted(cos_dict.values()))[-2]
second_largest_pair=list(cos_dict.keys())[list(cos_dict.values()).index(second_largest)]
print(f"User pair {second_largest_pair} has the second largest cosine similarity {cos_dict[second_largest_pair]}")

User pair user3 & user41 has the second largest cosine similarity 0.7939103103512613

#### 4.Show the cosine-similarity of all users with user 1 and say who is the most similar to user 1

In [27]:
cos_list=[]
for i in range(len(user_list)):
    cos=cosine_similarity(user_list[0],user_list[i])[0][0]
    cos_list.append(("user1 &"+" user"+str(i+1),cos))

cos_list.sort(key=lambda x:x[1], reverse=True) #sort in descending order 
cos_df=pd.DataFrame(cos_list,columns=["user","cosine_similarity"])
cos_df.head(10)

             user  cosine_similarity
0   user1 & user1           1.000000
1   user1 & user9           0.784518
2  user1 & user11           0.750880
3  user1 & user30           0.737439
4  user1 & user18           0.734559
5  user1 & user14           0.718387
6  user1 & user13           0.716639
7   user1 & user8           0.713161
8   user1 & user7           0.707842
9  user1 & user12           0.701690

user-based filtering:
take user 1, find users that are similar to user 1 based on similarities of movie ratings 
can recommend movies that similar users liked. User 9 is the most similar to user 1.